.container {
  display: flex;

  box-sizing: border-box;
  max-width: 1000px;
  min-width: 700px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 10px;
}

.wrapper {
  display: grid;
  flex-grow: 1;

  box-sizing: border-box;

  grid-template-columns: 1fr 2fr;
  grid-column-gap: 10px;
}

.aside {
  border: 1px solid var(--main-color);
  border-radius: 5px;
  flex-grow: 0;
  overflow: auto;
}

.main {
  box-sizing: border-box;
  height: 100%;
  padding: 5px 10px;

  border: 1px solid var(--main-color);
  border-radius: 5px;
}
