.emptyPermissions {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  min-height: 43px;
  margin-bottom: 15px;
  padding: 0 15px;

  border: 1px dashed #9D96B8;
  border-radius: 5px;
}
