.emptyPermissions {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  min-height: 38px;
  margin-bottom: 20px;
  padding: 0 15px;

  border: 1px dashed var(--secondary-color);
  border-radius: 5px;
}
