.button {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;

  box-sizing: border-box;
  min-height: 38px;
  margin-bottom: 15px;
  padding: 0 10px;

  text-decoration: none;

  color: #000;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: white;
}

.button:not(:last-of-type) {
  margin-right: 10px;
}
