.folder {
  display: flex;
  padding: 5px;
  box-sizing: border-box;
}

.folderIconImageWrapper {
  margin-right: 8px;
}

.folder:hover {
  cursor: pointer;
}

.active {
  background-color: #D5CAD6;
}

.folderName {
  flex-grow: 1;
}
