.folder {
  display: flex;

  box-sizing: border-box;
  padding: 5px;

  white-space: nowrap;
}

.folderIconImageWrapper {
  margin-right: 8px;
}

.folder:hover {
  cursor: pointer;
}

.active {
  background-color: var(--main-color);
}

.folderName {
  flex-grow: 1;
}
